      <div class="button-div">
      <div class="col s8 offset-s4">
      <% @degrees.each do |degree| %>
      <%= link_to degree.degree_name, degree, :class => "waves-effect waves-light grey btn-large position-button" %>
      <% end %>
      <a class="waves-effect waves-light grey btn-large modal-trigger enter" href="#modal1">
        <img src="/assets/enter.png" class="enterArrow">
        enter
      </a>

      </div>
      </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
<script>
$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
       </script>
