<div class="col s12 valign-wrapper" style="height: 90%">

  <div class="col l6 offset-l6 s12 valign">
    <h1>
      Tekst
    </h1>
  </div>
</div>

<div class="col s12" style="background:white; margin-bottom: 100px;">
  <div class="col s10 offset-s1 center-align">
    <h2 id="namme" style="color:#000; margin: 0;padding: 30px 0">
      Coś
    </h2>
  </div>
</div>

<div class="col s8 offset-s2" style="background: white; color: black;">
  <p>

  cos

  </p>
</div>

<script>
$( document ).ready(function() {
  setTimeout(function(){
    $('html, body').animate({
        scrollTop: $("#namme").offset().top-100
    }, 2000);
  }, 1000);
});
</script>
