<p id="notice"><%= notice %></p>

<p>
  <strong>Degree name:</strong>
  <%= @degree.degree_name %>
</p>

<% @degree.college_levels.each do |level| %>
<%= link_to level.college_level_name, subjects_path(@subject), :class => "waves-effect waves-light grey btn-large"%>

<% end %>

<%= link_to 'Back', home_index_path %>
