<div class="col l12">
<h1 class="col l6 offset-l6 s12">New Subject</h1>

<%= render 'form' %>

<%= link_to subjects_path, class: "waves-effect waves-light grey btn-large backspace" do %>
  <img src="/assets/backspace.png" class="enterArrow">
  powrót
<% end %>

</div>

<script>
$(document).ready(function() {
    $('select').material_select();
    $('#subject_type_id').change(function() {
        $('html, body').animate({
            scrollTop: $("#desc").offset().top
        }, 1000);
    });
  });
</script>
