<div class="col s8 offset-s4">
<h1>New Subject</h1>

<%= render 'form' %>

<%= link_to subjects_path, class: "waves-effect waves-light grey btn-large backspace" do %>
  <img src="/assets/enter.png" class="enterArrow">
  powrót
<% end %>

</div>

<script>
$(document).ready(function() {
    $('select').material_select();
  });
</script>
